/*
Custom CSS locatated on WordPress plugin BeTheme
*/

/* Tabs */
.ui-tabs .ui-tabs-panel { padding: 90px  8% 0 !important; }
.ui-tabs .ui-tabs-nav { border-color: #cfcfcf !important; }
.ui-tabs .ui-tabs-nav li a { font-size: 18px; padding: 20px 30px !important; font-weight: 400; letter-spacing: 2px; color: #84878a; }

/* Footer */
#Footer .widgets_wrapper .widget h4 { font-size: 15px; }
#Footer .footer_copy { border-top: 1px solid rgba(0, 0, 0, 0.1); }

/*show wp admin toolbar - move out from behind MailMunch sticky header*/
/* no need. mailmunch top banner removed
#wpadminbar{
padding-top: 60px}
*/

/* fix menu off-center issue */
#menu-main-menu {
    width: 100% !important;
}

.checkMarkListWhite{
 color: #ffffff;
}
