/*
You can type here custom CSS code, which will be loaded both on your admin and
front-end pages.

Please make sure to not override layout properties (positions and sizes), as
they can interfere with the sliders built-in responsive functionality. Here are
a few example targets to help you get started:


Custom code created by FanZappy for ChinaMedDevice - JH
Paste code here:
https://chinameddevice.com/wp-admin/admin.php?page=ls-style-editor&edited=1

Github Repo:

*/

.ls-container { /* Slider container */

}

.ls-layers { /* Layers wrapper */

}

.ls-3d-box div { /* Sides of 3D transition objects */

}

/* #Tablet (Portrait) < 480 ------------------------ #Mobile (Portrait) < 480 */
/* @media only screen and (min-width: 448px) and (max-width: 500px) */
{ }



/* #Mobile, Large < 425 ---------------------------------------------------- */
@media only screen and (max-width: 426px)
{
  #logo {
  	height: 130px !important;
  	line-height: 130px !important;
  }
  div#Action_bar{
  	padding: 0px 0 0px 0 !important;
  }
  #Action_bar .contact_details a {
  		font-size: 16px;
  }
    /* BG-image */
  #rev_slider_1_1_wrapper{
    height: 220px!important;
  }
    /* Slider text */
  #slide-1-layer-21 center {
    font-size: 22px !important;
    margin-top: 5px !important;
  }
    /*Learn More Button*/
  .tp-parallax-wrap {
   visibility: hidden;
  }
}

/* #Mobile, Medium < 375 ----------------------------------------------------*/
 @media only screen and (max-width: 376px)
{
  #logo {
  	height: 130px !important;
  	line-height: 130px !important;
  }
  div#Action_bar{
  	padding: 0px 0 0px 0 !important;
  }
  #Action_bar .contact_details a {
  		font-size: 16px;
  }
    /* BG-image */
  #rev_slider_1_1_wrapper{
    height: 220px!important;
  }
    /* Slider text */
  #slide-1-layer-21 center {
    font-size: 22px !important;
    margin-top: 5px !important;
  }
    /*Learn More Button*/
  .tp-parallax-wrap {
   visibility: hidden;
  }
}

/* #Mobile, Small < 320 -----------------------------------------------------*/
@media only screen and (max-width: 321px)
{
  #logo {
		height: 130px !important;
		line-height: 130px !important;
	}
  div#Action_bar{
  	padding: 0px 0 0px 0 !important;
	}
  #Action_bar .contact_details a {
  		font-size: 16px;
  	}
  /* BG-image */
  #rev_slider_1_1_wrapper{
    height: 220px!important;
  }

  /* Slider text */
  #slide-1-layer-21 center {
    font-size: 22px !important;
    margin-top: 5px !important;
  }
  /*Learn More Button*/
 .tp-parallax-wrap {
   visibility: hidden;
  }
}
